<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Todo List</title>
</head>
<body>
<h1>Todos Application</h1>
<form method="post" th:action="@{/}" th:object="${todo}">
    <input id="task" type="text" required th:field="*{task}" />
    <button type="submit">Add Task</button>
</form>
<ul>
    <li th:each="todo : ${todos}">
        <p th:text="${todo.task}"></p>
        <a th:href="'/delete/' + ${todo.id}">Delete</a>
        <a th:href="'/update/' + ${todo.id}">Update</a>
    </li>
</ul>
</body>
</html>